$title-font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$base-font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$primary-color:#75a6f0;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#1c1616;
$info-color:#98b3db;

