/*
hero style
*/

.hero-gradient-light,.hero-gradient-dark,.hero-parallax{
    padding-bottom: 0rem;
    padding-top: 10rem;
    position: relative;
    z-index: 3;
    h3.h1{
        font-size:2.5rem;
    }
}
